/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color:#4EAABF;
    --main-transition: 0.3s;
    --main-padding-top : 50px;
    --main-padding-bottom : 50px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Almarai', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Start Global Rules */
/* Small Screen */
@media(min-width : 768px) {
    .container{
      width: 750px;
    }  
  }
  /* Madium Screen */
  @media(min-width : 992px) {
      .container{
        width: 970px;
      }  
    }
  
    /* large Screen */
  @media(min-width : 1200px) {
      .container{
        width: 1170px;
      }  
    }
  /* End Madia Query */
/* Start Header */
.header{
    background: linear-gradient(246.56deg, #2C1F4A 2.63%, #4EAABF 98.94%);
    position: relative;
    /* box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5); */
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.container >i{
    display: none;
}
@media(max-width:767px){
    .container >i{
        display: block;
        color: white;
        border: 2px solid var(--main-color);
        padding: 5px;
        border-radius: 50%;
    }
}
.header .button{
    padding: 10px 37px;
    color: #fff;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #4EAABF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}
@media(max-width:767px){
    .header .button{
        display: none;
    }
}
.header .button:hover{
    box-shadow: none;
}
@media(max-width:991px){
    .main-nav{
        margin: 0;
    }
}
.header .main-nav{
    position: relative;
}
.main-nav ul{
    display: flex;
}
.main-nav ul > li >a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 102px;
    color: white;
    font-size: 17px;
    font-weight: 400;
    padding: 0 35px;
    transition: var(--main-transition);
}
@media(max-width:991px){
    .main-nav ul > li >a{
        height: 80px;
        padding: 0 20px;
    }
}
@media(max-width:767px){
    .main-nav ul > li >a{
        height: 80px;
        padding: 0 10px;
        font-size: 12.5px;;
    }
}
@media(max-width:320px){
    .main-nav ul > li >a{
        padding: 0 6px;
    }
}
.main-nav ul li:nth-child(3)::before{
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: 800;
    font-size: 11px;
    color: white;
    position: absolute;
    top: 50%;
    left: 55.5%;
    transform: translate(-50%, -50%);
}
@media(max-width:991px){
    .main-nav ul li:nth-child(3)::before{
        left: 54%;
    }
}
@media(max-width:767px){
    .main-nav ul li:nth-child(3)::before{
        display: none;
    }
}
.logo img{
    margin-top: 14px;
    width: 120px;
}
@media (max-width:991px){
    .logo img{
        display: none;
    }
}
@media(min-width:426px) and (max-width:767px){
    .logo img{
        display: block;
        height: 80px;
        width: 80px;
    }
}
/* End Header */
/* Start Mage Menu */
.header .mega-menu{
    position: absolute;
    z-index: -1;
    background: var(--main-color);
    width: 400px;
    height: 480px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 18px;
    left: 0;
    top: calc(100% + 30px);
    opacity: 0;
    transition: top var(--main-transition) , opacity var(--main-transition);
} 
@media (max-width:425px){
    .header .mega-menu{
        width: 250px;
    }
}
@media (max-width:320px){
    .header .mega-menu{
        width: 100%;
    }
}
.header .mega-menu h2{
    margin: 15px auto 33px;
    /* display: block; */
    margin-right: 9px;
    color: #fff;
}
.mega-menu .links{
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.mega-menu .links li {
    height: 46px;
    width: 100%;
}
.mega-menu .links li a{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0;
} 
 .header .main-nav li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: 100%;
}
.mega-menu button{
    padding: 10px 15px;
    border: none;
    border-radius: 9px;
    background: #303159;
    color: white;
    margin-top: -13px;
    cursor: pointer;
    transition: opacity var(--main-transition);
}
.mega-menu button:hover{
    opacity: 0.8;
}
/* End Mage Menu */ 
/* Start Leanding */
.leanding{
    background: linear-gradient(246.56deg, #2C1F4A 2.63%, #4EAABF 98.94%);
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.leanding .info{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 80px;
}
.info img{
    max-width: 100%;
}
@media(max-width:768px){
    .info img{
        width: 40%;
    }
}
@media(max-width:767px){
    .info img{
        display: none;
    }
}
.info .text{
    text-align: end;
    display: flex;
    flex-direction: column;
}
.info .text h2{
    font-size: 30px;
    font-weight: 400;
    color: wheat;
    margin: 0 0 20px;
    font-weight: 400;
}
@media(max-width:768px){
    .info .text h2{
        font-size: 25px;
    }
}
.info .text p{
    color: #ccc;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin: 7px 0 22px;
}
@media(max-width:768px){
    .info .text p{
        font-size: 18px;
    }
}
.info .text button{
    width: fit-content;
    margin: 0 auto;
    padding-left: 10px;
    padding: 12px 25px;
    border-radius: 15px;
    border:none ;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.container .input{
    margin: 120px auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container .input i{
    position: absolute;
    left: 189px;
    top: 16px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
@media(max-width:768px){
    .container .input i{
       display: none;
    }
}
@media(max-width:1024px){
    .container .input i{
        left: 160px;
    }
}
.input .search{
    /* padding:15px 250px; */
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-inline-start:30px ;
}
.input .search:focus{
    outline: none;
}
.input .submit{
    width: 10%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-color);
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    margin: 0 0 0 -15px;
    cursor: pointer;
}
@media(max-width:768px){
    .input .submit{
       width: 15%;
    }
}
@media(max-width:425px){
    .input .submit{
       width: 25%;
    }
}
/* End Leanding */